.home {
  height: 100vh;
  background: #327f97;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showHome {
  display: flex;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 450px) {
  .showHome {
    width: 90%;
    height: 90%;
  }
}
